<% if !form.new_record? -%>
<hr />
<h3>Notes</h3>
  <div id="notes_container">
	<% form.instance.notes.each do |note| -%>
	  <%= render :partial => 'notes/show_note', :locals => {:note => note} %>
	<% end -%>
	</div>
  <%= render :partial => 'notes/form' %>
<% end -%>
