<% remote_form_for(:note, :url => formatted_doctor_notes_path(:form_type => params[:form_type], :form_id => params[:form_id], :format => 'js'), :html => {:id => 'new_note_form'}) do |f| -%>
  <p><%= f.text_area :text, :rows => 5, :cols => 35, :id => 'new_note_text_area' %></p>
  <p><%= submit_tag "New Note" %></p>
<% end -%>
