<h1>Editing note</h1>

<%= error_messages_for :note %>

<% form_for(:note, :url => note_path(:domain => params[:domain], :form_type => params[:form_type], :form_id => params[:form_id], :id => @note.id), :html => { :method => :put }) do |f| %>
	<p><%= f.text_field :text %>
  <p><%= submit_tag "Update" %></p>
<% end %>

<%= link_to 'Show', note_path(:domain => params[:domain], :form_type => params[:form_type], :form_id => params[:form_id], :id => @note.id) %> |
<%= link_to 'Back', notes_path %>