<h2>Editing doctor</h2>

<%= render :partial => "form", :locals => { :submit => "Update", :submit_url => doctor_path(:id => @doctor.id), :form_method => :put } %>

<%= link_to 'Show', doctor_path(@doctor) %> |
<%= link_to 'Back', doctors_path %>
