<h1>Manage Doctors</h1>

<%= render :partial => 'shared/live_search_form', :locals => { :post_url => search_doctors_url, :live_url => live_search_doctors_url, :tickler_text => "Start by finding doctors..." } %>

<br />

<%= link_to 'New doctor', new_doctor_path %>
