<h2>Editing page</h2>

<%= error_messages_for :page %>

<%= render :partial => "form", :locals => { :submit => "Update", :submit_url => page_path(:id => @page.id), :form_method => :put } %>

<%= link_to 'Show', page_path(@page) %> |
<%= link_to 'Back', pages_path %>