<h2>Admin Dashboard</h2>

Make these like two big square (rounded corners) buttons with rollover brighten?<br />
<%= link_to 'Management Dashboard', admin_dashboard_path(:action => 'management') %>
|
<%= link_to 'Forms Dashboard', admin_dashboard_path(:action => 'forms') %>
