<h2>Admin Dashboard</h2>

Make these like two big square (rounded corners) buttons with rollover brighten?<br />
<%= link_to 'Management Dashboard', doctors_path %>
|
<%= link_to 'Forms Dashboard', admin_forms_path('submitted') %>
