<%= error_messages_for :admin %>
<form>
<p><label for="activation_code">Paste your registration code here:</label><br/>
<input type="text" name="activation_code" /></p>

<p><input type="submit" value="Register" /></p>
</form>
