<p>Full Name: <%= @admin.friendly_name %></p>
<p>Username:  <%= @admin.username %></p>
<p>Email:     <%= @admin.email %></p>
<p><%= link_to('Register!', register_admins_path(:activation_code => @admin.activation_code)) if !@admin.activation_code.blank? %>&nbsp;</p>

<%= link_to 'Edit', edit_admin_path(@admin) %> |
<%= link_to 'Back', admins_path %>
