#leftColumn {
	position:absolute;
	left:1.14em;
	top:6.3em;
	width:12em;
	margin:0;
	font-size:.9em;
}
	
#leftColumn .main {
	background:#5555aa;
	margin-bottom:1em;
}

#leftColumn .forms {
	background:#5D706F;
	margin-bottom:1em;
}

#leftColumn .manage {
	background:#9EC1CC;
	margin-bottom:1em;
}

#leftColumn .box {
	padding:.4em .3em .5em 1.4em;
}

#leftColumn h2 { 
	margin:0 0 -1em 0; 
	padding:0;
	font-size:1.2em;
	letter-spacing:.1em;
	color:#FF6500;
}

#leftColumn ul { 
	margin:1.5em 0 0 0; 
	padding:0 1em;
	list-style:none;
}

#leftColumn li { 
	margin:0 0 .4em 0; 
	padding:0;
}

.box a { 
	margin:0 0 0 .2em;
	color:#FFFFFF;
	text-decoration:none; 
}

.box hr {
	background-color:#FFFFFF;
	border:1px solid #FFFFFF;
	width:80px;
	height:2px;
	margin-right:60px;
}

#leftColumn li a:hover { 
	text-decoration:underline; 
}

#centerColumn {
	right:1.14em;
	margin-top:.1em;
	margin-left: 14.50em;
	margin-right:1.14em;
	voice-family: "\"}\"";
	voice-family: inherit;
	margin-left:14.50em;
	margin-right:1.14em;
	padding:0em .5em 2em .5em;
	font-size:.9em;
}

html>body #centerColumn {
	margin-left:14.50em;
	margin-right:1.14em;
}

.note_section .note_header {
	font-size: 10pt;
	font-style: italic;
}

.note_section .note_controls {
	font-size: 8pt;
	font-style: none;
}