/*
CSS-file for Strictly CSS three column layout 2006
http://www.strictlycss.com
Developed by Eivind Savio
*/

* {
	padding: 0;
	margin: 0;
	border: 0;
	}

body, html {
	color: #000; 
	font-family: Verdana, Arial, Tahoma, sans-serif;
	background-color: #eee; 
	text-align: center; /*** Centers the design in old IE versions ***/
	}

body {
	font-size: 70%;
	}

p {
	padding: 7px 0 7px 0;
	}

a {
	color: #000099;
	}
a:hover {
	color: #0000FF;
	text-decoration: none;
	}

h1, h2, h3 {
	font-weight: bold;
	padding-bottom: 5px;
	}
	
h1 {
	font-size: 2em;
	}
	
h2 {
	font-size: 1.4em;
	}

h3 {
	font-size: 1.3em;
	}

h1 a, #header h2 {
	color: #fff;
	}
	
.clear { clear: both; }

#mainContainer {
	width: 760px;
	margin: 0 auto; /*** Centers the design ***/
	min-height: 300px;
	background: #add8e6;
	text-align: left; /*** Because we centered the text in body we have to move the text back to left aligning ***/
	}

* html #mainContainer {
	height: 300px; /*** IE doesn't support min-height, but instead it handles height as min-height so we need to hack the height ***/
	}

/**************************
HEADER
**************************/
#header {
background: #000099;
padding: 10px
}
/**************************
CONTENT AND COLUMNS
**************************/
.outer {
padding-left: 165px;  
}
* html .outer {
/*** No need for hacking IE on this layout ***/
}
.inner {
width: 595px; /*** This width is for non-IE browsers. Mozilla makes this necessary. Be sure to check your layout in different browsers if you changes this value. Especially IE7 seems to create a horisontal scroll if this value is set too large ***/
}
* html .inner {
width: 100%;
}
/*** div.inner is wider than its container, div.outer, and so overlaps to the right, pushing
div.right into the proper position. IE expands div.outer instead, requiring a Tan hack to avoid 
blowing the layout apart. IE gets the original 100% width as in the Livingstone layout.
***/
.float-wrap {
float: left;
width: 760px;
margin-left: -165px; /*** Same length as .outer padding-left but with negative value ***/
}
* html .float-wrap {
/*** No need for hacking IE on this layout ***/
}
#content {
float: right;
width: 600px;
background: #fff;
}
* html #content {
position: relative;  /*** IE needs this  ***/
}
.contentWrap {
padding: 5px;
}
.contentWrap ol, .contentWrap ul {
margin: 3px 0 5px 35px;
}
.contentWrap li {
padding-bottom: 2px;
}
/**************************
LEFT COLUMN
**************************/
/*** div.left is in div.float-wrap, and when div.float-wrap is neg margined to the left, 
div.left is carried over into the proper position. 
***/
#left {
float: left;
width: 150px;
background: #fcc; 
min-height: 250px;
padding: 5px;
}
* html #left {
position: relative;  /*** IE needs this  ***/
height: 250px;
}
#left ul {
list-style: none;
padding-bottom: 4px;
}
#left li {
padding-bottom: 2px;
}
/*************************
RIGHT COLUMN
**************************/
#right {
float: left;
width: 750px;
background: #cfc;
padding: 5px;
height: 40px;
margin-left: -165px; /*** Same length as .outer padding-left but with negative value ***/
}
* html #right {
position: relative;  /*** IE needs this  ***/
}
#right ul {
list-style: none;
}
#right li {
display: inline;
padding-right: 15px;
}
/**************************
FOOTER
**************************/
#footer {
width: 760px;
margin: 0 auto;
text-align: center;
background-color: yellow;
}