* {
	padding:0;
	margin:0;
}

body {
	padding:20px 0 0 0;
	height:100%;
	background-color:#fefefe;
	color:#444444;  
	text-align:center;
	font: 0.7em Tahoma, sans-serif;
	color: #666666;
}


h1, h2, h3, h4, h5, h6 {
	color:#444;
}

img {
	border-style:none;
	vertical-align:middle;
}

p {
	font: 0.7em Tahoma, sans-serif;
	font-size: 1.2em;
	color:#444;
	padding: .5em 0 0 .2em;
}

a {
	font: 0.7em Tahoma, sans-serif;
	font-size: 11px;
	font-weight:bold;
	color:#CC0000;
	text-decoration:none;
}
a:hover {
	text-decoration:underline;
}

.offset {
	text-indent: -4000px;
}

.floatright {
	float:right;
}

#strip {
	position:absolute;
	top:0;
	left:0;
	height:121px;
	width:100%;
	background-color:#7b7b7b;
	z-index:1;
}

#container {
	position:relative;
	width: 800px;
	margin:0 auto;
	z-index:2;
}

#header {
	position:relative;
	height: 100px;
	background: #fbfbfb url("../images/header.gif") no-repeat;
	border-bottom:1px solid #cc0000;
	text-align:center;
}

#sixsigma {
	font:25pt Tahoma, sans-serif;
	color:#fff;
	font-weight:bold;
	padding-top:8px;
}

#management {
	font:25pt Tahoma, sans-serif;
	color:#444;
	font-weight:bold;
}

#sixsigma img {
	margin-left:45px;
}

#navbar {
	background-color:#f0f0f0;
	padding:1em;
	border-left: 1px solid #7b7b7b;
	border-right: 1px solid #7b7b7b;
}

#navbar ul, #navbar li {
	display:inline;
	list-style:none;
}

#navbar img {
	vertical-align:bottom;
	padding:0 10px 0 0;
}

#navbar a {
	font: 2em Tahoma, sans-serif;
	font-weight:bold;
	margin:0 1em;
}

#navbar a:hover {
	text-decoration:none;
	color:#444444;
}

#topnav {
	float:left;
	margin-left:120px;
	padding-right:30px;
}

.extras_box {
	width:200px;
	background-color:#f0f0f0;
	border:1px solid #444444;
	padding:.5em 1em;
	margin:.7em .4em 1em 1em;
}

#main {
	text-align: left;
	padding: 1em 1.2em;
	border-left: 1px solid #7b7b7b;
	border-right: 1px solid #7b7b7b;
	background-color: #fff;
}

#main ul, #main ol {
	font: 1.1em Tahoma, sans-serif;
	margin: .2em 1em 0 2.5em;
}

#footer {
	height: 100px;
	background-color: #eee;
	background: #ebffec url("../images/footer.gif")
}

#footer p {
	position:relative;
	top:30px;
	color:#cfcfcf;
}
