<div class="note_section" id="note_section_<%= note.id %>">
<p class="note_header" id="note_header_<%= note.id %>">Note by <%= note.author.friendly_name %> on <%= note.created_at.strftime "%h %d" %> at <%= note.created_at.strftime "%r" %> <span class="note_controls">[<%= link_to_remote('Edit', {:url => formatted_admin_edit_note_path(:format => 'js', :form_type => note.form_instance.form_data_type, :form_id => note.form_instance.form_data_id, :id => note.id), :method => :get}, {:id => "edit_link_#{note.id}"})+" / " if note.author == current_user %><%= link_to_remote 'Remove', :url => admin_note_path(:form_type => note.form_instance.form_data_type, :form_id => note.form_instance.form_data_id, :id => note.id), :confirm => 'Delete this note?', :method => :delete %>]</span></p>
<p class="note_text" id="note_text_<%= note.id %>" ondblclick="<%= remote_function(:url => formatted_admin_edit_note_path(:format => 'js', :form_type => note.form_instance.form_data_type, :form_id => note.form_instance.form_data_id, :id => note.id), :method => :get, :html => {:id => "edit_link_#{note.id}"}) %>"><%= note.text %></p>
</div>
