development:
  adapter: mysql
  database: sixsigma_development
  username: root
  password:
  host: localhost

test:
  adapter: mysql
  database: sixsigma_test
  username: root
  password:
  host: localhost

production:
  adapter: mysql
  database: sixsigma_production
  username: root
  password: 
  host: localhost