<li class="patient_listing"><span><em><%= link_to "#{patient.account_number} :: #{patient.last_name}, #{patient.first_name}", patient_path(:id => patient.id) %></em> <%= "(#{patient.drafts(true).count} draft#{'s' if patient.drafts.count > 1})" if patient.drafts.count > 0 %> &nbsp;-&nbsp; <span class="action_links"><%= (current_user.doctor.form_types.collect {|ft| link_to ft.friendly_name, doctor_draft_path(:form_type => ft.name, :patient_id => patient.id)}).join(" / ") %> | <%= link_to 'Destroy', patient_path(:id => patient.id), :confirm => 'Are you sure?', :method => :delete %></span></span></li>
