<p>Patient Name: <%= @patient.first_name%> <%= @patient.middle_initial %> <%= @patient.last_name %> (<%= link_to 'Destroy', patient_path(:domain => params[:domain], :id => @patient.id), :confirm => 'Are you sure?', :method => :delete %>)</p>
<h3>History</h3>
<% @patient.form_instances.each do |f| -%>
<p><em><%= link_to "+ #{f.form_type.friendly_name} #{f.created_at}", forms_path(:domain => params[:domain], :action => 'show', :form_type => f.form_type.form_type, :id => f.form_id) %></em></p>
<% end -%>
<h4>Record New Claim</h4>
<% current_user.doctor.form_types.each do |ft| -%>
	&nbsp;&nbsp;&nbsp;<a href="<%= forms_path(:form_type => ft.form_type, :patient_id => @patient.id) %>">+ <%= ft.friendly_name %></a><br />
<% end -%>
