<% pre_text ||= '' -%>
<p id="form_listing_<%= form.id %>"><%= pre_text %><%= "#{form.patient.first_name} #{form.patient.last_name} -[#{form.created_at.strftime("%a %b %d, %I:%M%p")}]-" %> <%= link_to 'View', admin_forms_url(:form_status => params[:form_status], :action => 'view', :form_type => form.form_data_type, :form_id => form.form_data_id) %> / <%= link_to 'Edit', admin_forms_url(:form_status => params[:form_status], :action => 'draft', :form_type => form.form_data_type, :form_id => form.form_data_id), :confirm => "Editing this form will un-submit the form and move it back to the Draft status. Do you want to continue?" %> (<%= link_to_remote 'Discard', :confirm => "Discard this form?", :url => formatted_admin_forms_path(:form_type => form.form_type.name, :action => 'discard_inline', :form_id => form.id, :format => 'js') %>)</p>
