<h2><%= params[:form_status].as_status.word('uppercase long plural') %></h2>
<ul class="form_listings">
	<% @forms.each do |form| -%>
		<%= render :partial => "#{params[:form_status]}_listing", :locals => {:form => form} %>
	<% end -%>
</ul>
<ul class="form_listings">
	<% if @forms.blank? -%>
		<li>no <%= params[:form_status].as_status.word('lowercase long plural') %></li>
	<% end -%>
</ul>