<h1>Listing <%= params[:status] %> forms</h1>

<table>
  <tr>
  </tr>
  
<% @forms.each do |form| -%>
  <tr>
    <td><%= form.form_data_type %></td>
    <td><%= form.id %></td>
  </tr>
<% end -%>
</table>
