<h1><%= params[:form_status].as_status.word('uppercase long plural') %></h1>
<% @forms.each do |form| -%>
  <%= render :partial => "#{params[:form_status]}_listing", :locals => {:form => form} %>
<% end -%>
