<h2><%= @form.instance.visual_identifier %></h2>
<p>(<%= @form.instance.form_identifier %>)</p>

<div class="form">
<%= render :partial => @form.instance.form_data_type.fromCamelCase -%>
</div>

<%= render :partial => 'manage/notes/form_notes', :locals => {:form => @form} %>

<p><%= link_to 'Accept & Archive', '#' %></p>
<p><%= link_to 'Return with Note...', '#' %></p>
<p style="color:red">(auto-expanding note form, which creates the note and returns to draft status)</p>
