
<p>* Form <em><%= @form_instance.form_data_type %></em>, instance #<em><%= @form.instance.id %>.<%= @form.id %></em> *</p>
<p>Doctor: <em><%= @form.instance.doctor.friendly_name %></em></p>
<p>Birth Date: <em><%= @form.birth_date %></em></p>
<p>Address: <%= @form.address %>, <%= @form.city %>, <%= @form.state %> <%= @form.zipcode %></p>
<p>Provider: <%= @form.provider_name %></p>
