<h1>Doctor Activation</h1>

<%= error_messages_for :doctor %>

<% form_for(:doctor, :url => doctors_path+';activate') do |f| %>
  <p><label for="activation_code">Paste your User Registration Code here</label><br/>
  <%= f.text_field :activation_code %></p>
  <p>
    <%= submit_tag "Register" %>
  </p>
<% end %>

<%= link_to 'Back', doctors_path %>
