<h1><%= @doctor.friendly_name %></h1>
<p>Business Alias: <%= @doctor.alias %></p>
<p>Address:        <%= @doctor.address %></p>
<p>Admin Name:     <%= @doctor.admin.friendly_name %></p>
<p>Admin Email:    <%= @doctor.admin.email %></p>
<p><%= link_to 'Users', users_path(:doctor_alias => @user.doctor.alias) %></p>

<%= link_to 'Edit', edit_doctor_path(@doctor) %> |
<%= link_to 'Back', doctors_path %>
