<% pre_text ||= '' -%>
<% update ||= 'yes' -%>
<li class="form_listing" id="form_listing_<%= form.id %>"><span><%= pre_text %><%= form.visual_identifier %> <span class="action_links"><%= link_to 'View', doctor_forms_url(:action => 'view', :form_type => form.form_data_type, :form_id => form.form_data_id) %> / <%= link_to 'Edit', doctor_forms_url(:action => 'draft', :form_type => form.form_data_type, :form_id => form.form_data_id), :confirm => "Editing this form will un-submit the form and move it back to the Draft status. Do you want to continue?" %> (<%= link_to_remote 'Discard', :confirm => "Discard this form?", :url => formatted_doctor_forms_path(:form_type => form.form_data_type, :action => 'discard', :form_id => form.form_data_id, :format => 'js', :update => update) %>)</span></span></li>
