<% pre_text ||= '' -%>
<% update ||= 'yes' -%>
<p><%= pre_text %><%= link_to form.visual_identifier, doctor_forms_url(:action => 'draft', :form_type => form.form_data_type, :form_id => form.form_data_id) %> (<%= link_to_remote 'Discard', :confirm => "Discard this form?", :url => formatted_doctor_forms_path(:form_type => form.form_type.name, :action => 'discard', :form_id => form.id, :format => 'js', :update => update) %>)</p>
