<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= controller.action_name %></title>
  <%= stylesheet_link_tag 'scaffold' %>
  <%= javascript_include_tag 'prototype' %>
  <%= javascript_include_tag 'controls' %>
  <%= javascript_include_tag 'effects' %>
  <%= javascript_include_tag 'dragdrop' %>
</head>
<body>
<% if logged_in? -%>
<p>Logged in as <%= current_user.username %>, from <%= current_user.domain %>. <a href="/logout">Logout</a></p>
<% else -%>
<p>Not logged in. <a href="/<%= params[:doctor_alias] ? params[:doctor_alias] : "ssadmin" %>/login">Login</a></p>
<% end -%>
<p>Tabs: <%= link_to 'Manage Admins', admins_url %> | <%= link_to 'Manage Doctors', doctors_url %> | <%= link_to 'Manage Pages', pages_url %></p>
<p style="color: green">&nbsp;<%= flash[:notice] %></p>

<%= yield  %>

</body>
</html>
