<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="Six Sigma Management: HipForms, a HIPAA compliant form completion tool" />
		<meta name="keywords" content="" />
		<meta name="author" content="Six Sigma Management" />
		<title>Six Sigma Management: Six Sigma Admin</title>
		<%= stylesheet_link_tag 'admin' %>
		<%= javascript_include_tag 'prototype' %>
		<%= javascript_include_tag 'effects' %>
		<%= javascript_include_tag 'controls' %>
		<%= javascript_include_tag 'dragdrop' %>
		<%= javascript_include_tag 'rounded' %>
		<%= javascript_include_tag 'dojo' %>
		<script type="text/javascript">
			dojo.require("dojo.widget.Editor2");
		/*	dojo.require("dojo.widget.Editor2Plugin.DialogCommands");*/
			dojo.require("dojo.widget.Editor2Plugin.AlwaysShowToolbar");
		</script>
		<script type="text/javascript">
			var AddEditor = {
				init: function() {
					var helptext = document.getElementsByTagName('p');
					for (var i = 0, ht; ht = helptext[i]; i++) {
							if (ht.innerHTML.match(/Rich Text./)) {
								ta = ht.previousSibling.previousSibling
								ta.setAttribute("dojoType", "Editor2");
							}
					}
				},
			}
		</script>
		<style type="text/css" media="screen">
			div.RichTextEditable { border:1px solid #ccc; width:75%;}
			.EditorToolbarDomNode {padding-left:5px;}
			.RichTextEditable td {padding:0; vertical-align:middle;}
			.RichTextEditable table {border:none;}
			.RichTextEditable iframe {padding:.5em 1em;}
		</style>
	</head>
	<body>
		<div class="header">
			<div id="header">
				<span class="floatright">
					<% if logged_in? -%>
						Welcome <%= current_user.friendly_name %>, <a href="/logout">Logout?</a>
					<% else -%>
						Not logged in. <%= link_to 'Login', login_url(:domain => 'manage') %>
					<% end -%>
				</span>
				<h1>Six Sigma Management: HipForms</h1>
			</div><!--//end #header//-->
		</div>

		<div id="leftColumn">
			<div class="main rounded">
				<div class="box">
					<h2>Main</h2>
					<ul>
						<li><%= link_to 'Dashboard', admin_dashboard_path %></li>
						<li><%= link_to 'Forms', admin_forms_path('submitted') %></li>
						<hr />
						<li><%= link_to 'My Account', '/manage/myaccount' %></li>
						<li><%= link_to 'Management', doctors_path %></li>
					</ul>
				</div>
			</div>
		</div><!--//end #leftColumn//-->

		<div id="centerColumn">
			<p class="these should be tabs">
			<% if params[:action] == 'forms' or params[:controller] == 'manage/forms' -%>
			<%= link_to 'Submitted', admin_forms_path('submitted') %>
			<%= link_to 'Reviewed', admin_forms_path('reviewed') %>
			<%= link_to 'Archived', admin_forms_path('archived') %>
			<% elsif params[:action] == 'management' or params[:controller] == 'manage/doctors' or params[:controller] == 'manage/pages' or (params[:controller] == 'manage/admins' and !(params[:action] == 'dashboard')) -%>
			<%= link_to 'Admins', admins_path %>
			<%= link_to 'Doctors', doctors_path %>
			<%= link_to 'Pages', manage_pages_path %>
			<!-- <%= link_to '(Backups)', '/manage/backups' %> -->
			<% end -%>
			</p>

			<div id="content_container">
				<%= yield %>
			</div>
		</div>
		<!--//end #centerColumn//-->

		<script type="text/javascript">
		Rounded('rounded', 10, 10);
		Rounded('header', 10, 10);
		</script>
	</body>
</html>
