<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="Six Sigma Management: HipForms, a HIPAA compliant form completion tool" />
		<meta name="keywords" content="" />
		<meta name="author" content="Six Sigma Management" />
		<title>Six Sigma Management: <%= @current_domain %></title>
		<%= stylesheet_link_tag 'common' %>
		<%= stylesheet_link_tag 'doctor' %>
		<%= stylesheet_link_tag 'tabs' %>		
		<%= javascript_include_tag 'prototype' %>
		<%= javascript_include_tag 'effects' %>
		<%= javascript_include_tag 'form_effects' %>
		<%= javascript_include_tag 'controls' %>
		<%= javascript_include_tag 'dragdrop' %>
		<%= javascript_include_tag 'rounded' %>
	</head>
	<body>
		<div id="header">
			<h1>Six Sigma Management Form Processor</h1>
			<h2>Welcome <%= current_user.friendly_name %></h2>
			<ul>
				<li>Manage</li>
				<li>
					<% if logged_in? -%>
						<a href="/logout">Logout</a>
					<% else -%>
						Not logged in. <a href="/<%= params[:domain] ? params[:domain] : "manage" %>/login">Login</a>
					<% end -%>
				</li>
			</ul>		
		</div>
		<div id="main">
			<ul id="tabmenu">
				<li><%= link_to "Dashboard", :action => 'index' %></li>				
				<li class="firstTab"><%= link_to "Drafts" + (!current_user.drafts.blank? ? " (#{current_user.drafts.count})" : ''), forms_status_path(:form_status => 'draft'), :id => 'drafts_count' %></li>
				<li><%= link_to "Submitted" + (!current_user.submitted.blank? ? " (#{current_user.submitted.count})" : ''), forms_status_path(:form_status => 'submitted'), :class => 'active' %></li>
				<li><%= link_to "Reviewed" + (!current_user.reviewed.blank? ? " (#{current_user.reviewed.count})" : ''), forms_status_path(:form_status => 'reviewed') %></li>
				<li><%= link_to "Accepted" + (!current_user.accepted.blank? ? " (#{current_user.accepted.count})" : ''), forms_status_path(:form_status => 'accepted') %></li>
			</ul>
			<div style="background:#C13B00;"><br /></div><br />
			<div id="content">
				<%= yield  %>
			</div>
		</div>
	</body>
</html>
