<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<title><%= @page ? @page.title : controller.action_name %></title>
		<%= stylesheet_link_tag 'pages.css' %>
	</head>
	<body>
		<div id="mainContainer">
			<div id="header">
				<h1><a href="/" title="Six Sigma Management">Six Sigma Management</a></h1>
				<h2>Billing, Recruiting, and Health Care Contractors</h2>
			</div>
			<div class="outer">
				<div class="inner">
					<div class="float-wrap">
			        	<div id="content"> 
			          		<div class="contentWrap">
								<%= yield %>
							</div>
						</div>
						<!-- end centered div -->
				        <div id="left"> 
							<ul>
								<li><a href="/pages/index">Home</a></li>
								<li><a href="/pages/billing_services">Billing Services</a></li>
								<li><a href="/pages/recruiting_and_staffing">Recruiting &amp; Staffing</a></li>
								<li><a href="/pages/health_care_contracting">Health Care Contracting</a></li>
								<li><a href="/pages/about_us">About Us</a></li>
								<li><a href="/pages/contact">Contact</a></li>
							</ul>
				        </div>
						<!-- end left div -->
						<div class="clear"></div> 
					</div>
					<div id="right"> 
						<h3>Third in source</h3>
						<ul>
							<li><a href="/pages/index">Home</a></li>
							<li><a href="/pages/billing_services">Billing Services</a></li>
							<li><a href="/pages/recruiting_and_staffing">Recruiting &amp; Staffing</a></li>
							<li><a href="/pages/health_care_contracting">Health Care Contracting</a></li>
							<li><a href="/pages/about_us">About Us</a></li>
							<li><a href="/pages/contact">Contact</a></li>
						</ul>
					</div>
					<!-- end right div -->
					<div class="clear"></div> 
				</div>
			</div>
		</div>
	</body>
</html>
